{% extends 'base.html.twig' %}
{% block body%}
<div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">table des listes</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <table class="table table-striped">
                                                    {%block list%}
                                                    {%endblock%}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

 <script src="assets/plugins/modal-effect/js/classie.js"></script>
 <script src="assets/plugins/modal-effect/js/modalEffects.js"></script>
{% endblock %}