{% extends 'shower.html.twig' %}

{% block form %}

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reglement.id }}</td>
            </tr>
            <tr>
                <th>Coderegle</th>
                <td>{{ reglement.codeRegle }}</td>
            </tr>
            <tr>
                <th>Dateregle</th>
                <td>{% if reglement.dateRegle %}{{ reglement.dateRegle|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Typepaiement</th>
                <td>{{ reglement.typePaiement }}</td>
            </tr>
        </tbody>
    </table>

   
{% endblock %}
