{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
                        
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h3 class="panel-title">equipement creation</h3></div>
                                    <div class="panel-body">
                                        <div class="form">
    <h3>Equipement creation</h3>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('equipement_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
